.photo-grid {
  margin: 0;
}

.photo-grid__container {
  margin: 0 auto;
  width: 92%;
  background-color: beige;
  border: 1px solid red;
  display: grid;
/*   grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  padding-bottom: 10em;
}

.photo-grid__image {
  width: 100%;
  height: auto;
}



