.intro {
  width: 100%;
  margin: 0;
  border: 1px solid red;
}

.intro__title, .intro__main-text, .intro__author {
  width: 56%;
  font-family: "inter";
  font-weight: 400;
  font-size: 1.5em;
  line-height: 2.1rem;
  text-align: left;
  margin-left: 148px;
}

.intro__title {
  width: 79%;
  font-weight: 900;
  font-size: 3.35em;
  line-height: 3.6rem;
  margin: 0 148px 0;
  padding-bottom: 2.5rem;
}

.intro__author {
  padding-bottom: 2em;
  margin-top: -.75em;
  text-align: right;
}
